* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  background-color: #ff9a4b;
  height: 50px;
}

main {
  width: 960px;
  margin: 50px auto;
}

.guide {
  background-color: #eeeeee;
  width: 300px;
  padding: 10px;
  margin-right: 30px;
  position: relative;
  float: left;
}
.guide:last-child {
  margin-right: 0;
}
.headline {
  background-color: #ff9a4b;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}
.content-img1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: center;
  height: 150px;
}
.content-img2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: center;
  height: 150px;
}
.content-img3 {
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: center;
  height: 150px;
}

.guide-title {
  padding: 15px 0 5px 0;
}


footer {
  background-color: #aaaaaa;
  height: 50px;
}